<span>Name:</span><strong>{{$ctrl.name}}</strong>
<p>
<h2>Stats</h2>
  <div class="row" ng-repeat="x in $ctrl.attrs">

    <div class="col-lg-2 panel panel-default">
      <div class="panel panel-heading" tooltip="{{x.name}}">{{ x.abv | uppercase }}</div><div class="panel panel-body"> {{x.val.value}}</div> <i>{{x.val.rollhistory}}</i></div>
  </div>
  <div class="panel panel-default">
<div class="panel-heading">Proficiencies</div>

  <div class="panel-body" ng-repeat="prof in $ctrl.prof"><span>{{prof.type}} | {{prof.name}}</span></div>
  </div>
</p>